<h1>Faculty</h1>

<p>Sort By:</p>

<ul>
    <li><a href="/faculty?sort=name">Name</a></li>
    <li><a href="/faculty?sort=department">Department</a></li>
    <li><a href="/faculty?sort=title">Title</a></li>
</ul>

<hr>

<% faculty.forEach(member => { %>

    <div>
        <h2>
            <a href="/faculty/<%= member.id %>">
                <%= member.name %>
            </a>
        </h2>

        <p>Department: <%= member.department %></p>

        <p>Title: <%= member.title %></p>
    </div>

    <hr>

<% }) %>