<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[PAGE TITLE]</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me, Jerry Hodges</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>My name is Jerry Hodges. I am 26 years old and I ahve a wife and 2 children. I am hoping to graduate from BYU-Idaho in July of 2026. I love snowboarding, swimming, and playing both video games and table top games. </p>
    <img src="images/Fish.jpg" alt="Self Portrait Here">
</body>
</html>